.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 400px;
  padding-left: 0rem;
  --bs-breadcrumb-item-padding-x: 0.25rem;
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .ellipsis {
    max-width: 300px;
  }
}

@media screen and (max-width: 992px) {
  .ellipsis {
    max-width: 250px;
  }
}

@media screen and (max-width: 768px) {
  .ellipsis {
    max-width: 170px;
  }
}
