.insetContainer,
.outsetContainer,
.fullContainer {
  margin-bottom: 1.5rem;
}
.insetContainer {
  display: flex;
  justify-content: center;
}
.insetContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.outsetContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.fullContainer {
  width: 100%;
}

.imageWrapper {
  margin-top: 5rem;
}

.imageCaptionContainer {
  font-size: 16px;
  color: var(--bs-gray-600);
  font-style: italic;
  text-transform: capitalize;
  line-height: 18px;
  column-gap: 0.65rem;
  padding: 0.5rem;
  text-align: center;
}
