.avatarWrapper {
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  background-color: black;
  color: white;
  display: flex;
  justify-self: center;
  align-items: center;
}

.avatarPlaceholder {
  align-items: center;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 100%;
}

.avatar-xs {
  height: 16px;
  width: 16px;
  font-size: 12px;
}
.avatar-sm {
  height: 24px;
  width: 24px;
  font-size: 14px;
}
.avatar-md {
  height: 34px;
  width: 34px;
  font-size: 16px;
}
.avatar-lg {
  height: 48px;
  width: 48px;
  font-size: 20px;
}
