.blogListWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 1px solid var(--bs-red); */
}

.blogGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  grid-template-areas:
    "post0 post0 post0 post1 post1 post1"
    "post2 post2 post3 post3 post4 post4"
    "post5 post5 post6 post6 post7 post7";

  gap: 80px 48px;
  max-width: 1200px;
  /* border: 1px solid var(--bs-blue); */
}

@media screen and (max-width: 1200px) {
  .blogGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas: none;
  }
}

@media screen and (max-width: 768px) {
  .blogGrid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-areas: none;
    gap: 0px;
  }
}
