.isMobile {
  display: none;
}
.blogCardLinkWrapper {
  width: 100%;
  height: 100%;
  grid-area: var(--blog-index);
}

.blogCard {
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 24px 0px;
  overflow: hidden;
  border-radius: 4px;

  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); */
}
.blogCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.blogCard:active {
  transform: scale(0.99);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.image-lg {
  aspect-ratio: 1.5/1;
}
.image-md {
  aspect-ratio: 2/1;
}
.blogCardMobileImage {
  display: none;
}
.blogCardImageWrapper {
  position: relative;
  width: 100%;
}
.blogCardContent {
  display: flex;
  flex-direction: column;
}
.blogCardAuthor {
  font-size: 14px;
  color: var(--text-secondary);
  line-height: 18px;
  margin: 0px 0 16px 0px;
  display: flex;
  align-items: center;
  column-gap: 0.65rem;
}
.blogCardBody {
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  flex: 1 0 auto;
}
.blogCardBodyContent {
  display: flex;
  flex-direction: column;
}

.title-md {
  font-size: 20px;
  line-height: 24px;
}
.title-lg {
  font-size: 24px;
  line-height: 30px;
}
.blogCardTitle {
  color: var(--zaron-blue);
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blogCardSubtitle {
  font-size: 16px;
  padding-top: 8px;
  color: var(--text-secondary);
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blogCardFooter {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  line-height: 20px;
  font-weight: 400;
  font-size: 13px;
}

@media screen and (max-width: 1200px) {
  .blogCard {
    grid-template-rows: auto;
    gap: 16px 0px;
  }
  .title-lg {
    font-size: 20px;
    line-height: 24px;
  }

  .image-lg {
    aspect-ratio: 2/1;
  }

  .blogCardLinkWrapper {
    grid-area: auto;
  }
}

@media screen and (max-width: 768px) {
  .blogCardLinkWrapper {
    padding: 24px 0;
    border-top: 1px solid var(--bs-light-border-subtle);
  }
  .blogCard {
    width: 100%;
    cursor: pointer;
    gap: 24px 0px;
    overflow: hidden;
    border-radius: 4px;
  }

  .blogCardImageWrapper {
    display: none;
  }

  .blogCardBody {
    flex-direction: row;
    padding-bottom: 0px;
  }
  .blogCardBodyContent {
    width: 75%;
  }

  .blogCardMobileImage {
    display: block;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    height: 53px;
    width: 80px;
    aspect-ratio: auto 80 / 53;
    justify-self: end;
    margin: 0px 0px 0px auto;
  }

  .blogCardTitle {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Limit to 1 line */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .image-lg {
    aspect-ratio: 2/1;
  }
  .image-lg {
    aspect-ratio: 2/1;
  }
}
